html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reset des liens a */
a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: #000;
}

/* reset des listes */
ul {
  list-style: none;
}

/* reset des boutons */
button {
  outline: none;
}

body {
  font-family: 'roboto', sans-serif;
  line-height: 1.5rem;
  font-size: 18px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1, .h1 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  text-shadow: 0px 0px 3px #777;
}

@media (max-width: 700px) {
  h1, .h1 {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  h1, .h1 {
    margin-top: 25px;
  }
}

h2 {
  font-size: 1.4rem;
  margin: 25px 0 25px;
}

h3 {
  font-size: 1.4rem;
  margin: 25px 0 25px;
}

h4 {
  font-size: 1.2rem;
}

a:link, a:visited, a:hover, a:focus, a:active {
  color: #FFF;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.underline-title {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 15px;
  margin-bottom: 35px;
}

.inscription-bandeau {
  width: 100%;
  background-image: linear-gradient(112.5deg, #c79525 0%, #c79525 2%, #ca8925 2%, #ca8925 10%, #cd7c25 10%, #cd7c25 38%, #d07025 38%, #d07025 64%, #d26424 64%, #d26424 66%, #d55724 66%, #d55724 78%, #d84b24 78%, #d84b24 100%), linear-gradient(157.5deg, #c79525 0%, #c79525 2%, #ca8925 2%, #ca8925 10%, #cd7c25 10%, #cd7c25 38%, #d07025 38%, #d07025 64%, #d26424 64%, #d26424 66%, #d55724 66%, #d55724 78%, #d84b24 78%, #d84b24 100%), linear-gradient(67.5deg, #c79525 0%, #c79525 2%, #ca8925 2%, #ca8925 10%, #cd7c25 10%, #cd7c25 38%, #d07025 38%, #d07025 64%, #d26424 64%, #d26424 66%, #d55724 66%, #d55724 78%, #d84b24 78%, #d84b24 100%), linear-gradient(90deg, #4130cf, #cacc79);
  background-blend-mode: overlay,overlay,overlay,normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 50px 0 50px;
  font-size: larger;
  -webkit-box-shadow: 0 5px 10px #9b9b9b;
          box-shadow: 0 5px 10px #9b9b9b;
}

.inscription-bandeau span {
  color: black;
  margin-bottom: 7px;
  text-overflow: "";
}

.inscription-bandeau a {
  color: black;
}

.inscription-bandeau a:hover {
  color: yellow;
}

/* MENU BURGER -> checkbox */
nav {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  width: 100%;
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  nav {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    position: relative;
  }
}

nav a {
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

@media (min-width: 768px) {
  nav a {
    opacity: 1;
  }
}

.bandeauBurger {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #000;
}

@media (min-width: 768px) {
  .bandeauBurger {
    display: none;
  }
}

.nav-checkbox {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav-checkbox-label {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-checkbox-label span, .nav-checkbox-label span::before, .nav-checkbox-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  -webkit-transform: translateY(0) rotate(0) scale(1);
          transform: translateY(0) rotate(0) scale(1);
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

.nav-checkbox-label span::before {
  content: "";
  position: absolute;
  bottom: 7px;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

.nav-checkbox-label span::after {
  content: "";
  position: absolute;
  top: 7px;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

@media (min-width: 768px) {
  .nav-checkbox-label {
    display: none;
  }
}

.nav-checkbox:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  position: relative;
}

.nav-checkbox:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-checkbox:checked ~ label span::before {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.nav-checkbox:checked ~ label span::after {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

.nav-checkbox:checked ~ label span {
  background: black;
}

/*Fin menu Burger*/
.menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding-left: 160px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.menus ul li a:hover {
  color: #ffc400;
}

.menus ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  background-color: #ffc400;
}

.menus ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 768px) {
  .menus ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    height: auto;
  }
  .menus li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0 5px;
  }
}

.logo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 500px) {
  .logo {
    position: absolute;
    top: 0px;
    left: 0;
    width: auto;
    height: 120px;
    z-index: 999;
  }
}

.backgroundBlackCanvas {
  display: none;
}

@media (min-width: 1200px) {
  .backgroundBlackCanvas {
    display: block;
    position: absolute;
    background-image: radial-gradient(circle at 11% 37%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 50%, transparent 50%, transparent 56%, transparent 56%, transparent 100%), radial-gradient(circle at 82% 7%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 46%, transparent 46%, transparent 88%, transparent 88%, transparent 100%), radial-gradient(circle at 81% 79%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 33%, transparent 33%, transparent 89%, transparent 89%, transparent 100%), radial-gradient(circle at 68% 96%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 8%, transparent 8%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 69% 20%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 84%, transparent 84%, transparent 86%, transparent 86%, transparent 100%), radial-gradient(circle at 49% 22%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 71%, transparent 71%, transparent 78%, transparent 78%, transparent 100%), radial-gradient(circle at 23% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 6%, transparent 6%, transparent 40%, transparent 40%, transparent 100%), radial-gradient(circle at 86% 33%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 13%, transparent 13%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 38% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 15%, transparent 15%, transparent 61%, transparent 61%, transparent 100%), -webkit-gradient(linear, left bottom, left top, from(#0f0f0f), to(#0f0f0f));
    background-image: radial-gradient(circle at 11% 37%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 50%, transparent 50%, transparent 56%, transparent 56%, transparent 100%), radial-gradient(circle at 82% 7%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 46%, transparent 46%, transparent 88%, transparent 88%, transparent 100%), radial-gradient(circle at 81% 79%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 33%, transparent 33%, transparent 89%, transparent 89%, transparent 100%), radial-gradient(circle at 68% 96%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 8%, transparent 8%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 69% 20%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 84%, transparent 84%, transparent 86%, transparent 86%, transparent 100%), radial-gradient(circle at 49% 22%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 71%, transparent 71%, transparent 78%, transparent 78%, transparent 100%), radial-gradient(circle at 23% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 6%, transparent 6%, transparent 40%, transparent 40%, transparent 100%), radial-gradient(circle at 86% 33%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 13%, transparent 13%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 38% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 15%, transparent 15%, transparent 61%, transparent 61%, transparent 100%), linear-gradient(0deg, #0f0f0f, #0f0f0f);
    z-index: 0;
    width: 100%;
    height: 250px;
  }
}

.canvas-header {
  display: none;
}

@media (min-width: 1200px) {
  .canvas-header {
    display: block;
    position: relative;
    left: calc(50% - 600px);
  }
}

.marges-lateral {
  margin: 0 15px 0 15px;
}

@media (min-width: 768px) {
  .marges-lateral {
    margin: 0 35px 0 35px;
  }
}

footer {
  width: 100%;
  background-color: #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .reseaux-sociaux {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 0;
}

footer .reseaux-sociaux__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .reseaux-sociaux__carte i {
  font-size: 2em;
}

footer .reseaux-sociaux__carte span {
  margin-left: 15px;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .reseaux-sociaux__carte--lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212529;
}

footer .flex-conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

footer .contact {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

@media (min-width: 768px) {
  footer .contact {
    width: 49%;
  }
}

footer .contact h4 {
  margin-bottom: 10px;
}

footer .contact li {
  margin-bottom: 5px;
}

footer .contact li a {
  color: #212529;
}

footer .partenaires {
  width: 100%;
}

@media (min-width: 768px) {
  footer .partenaires {
    width: 49%;
  }
}

footer .bandeSombre {
  width: 100%;
  height: 45px;
  background-color: #9c9c9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .div-separator {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  footer .div-separator {
    width: 1px;
  }
}

footer .copyright {
  font-size: 0.8rem;
}

footer .copyright__lien {
  color: #212529;
  font-size: 0.8rem;
}

footer .copyright__lien:hover {
  color: white;
}

footer a {
  color: black !important;
}

.presentation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 1200px) {
  .presentation__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.presentation__content p {
  margin: 25px 0;
}

.presentation__content--ul {
  margin-bottom: 15px;
  list-style-type: disc;
}

.presentation__content--li {
  margin: 15px 0 15px 25px;
}

.presentation__content--text {
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  .presentation__content--text {
    text-align: start;
    width: 55%;
  }
}

.presentation__content--img--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation__content--img {
  width: 100%;
  margin-bottom: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1200px) {
  .presentation__content--img {
    height: 400px;
    margin-left: 25px;
  }
}

.section {
  margin: 50px 0 25px 0;
}

@media (min-width: 1200px) {
  .presentation-btn {
    display: none;
  }
}

.text-hidden {
  display: none;
}

@media (min-width: 1200px) {
  .text-hidden {
    display: block;
  }
}

#dynamicTeamCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 40px;
}

@media (min-width: 500px) {
  #dynamicTeamCard {
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

#dynamicTeamCard h2 {
  width: 100%;
}

/* CARTE CREER DANS LE BAC A SABLE d'ou css et pas scss */
.container-card {
  position: relative;
  width: 180px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  border-radius: 3px;
  line-height: 1rem;
}

.card {
  position: relative;
  overflow: hidden;
}

.card-img {
  background-size: cover;
  background-origin: border-box;
  background-position: center;
  width: 180px;
  height: 250px;
  border-radius: 3px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-out 300ms;
  transition: -webkit-transform ease-out 300ms;
  transition: transform ease-out 300ms;
  transition: transform ease-out 300ms, -webkit-transform ease-out 300ms;
}

.bloc-focus-top, .bloc-focus-bottom {
  position: absolute;
  z-index: -1;
  width: 130px;
  height: 130px;
  border-radius: 3px;
}

.bloc-focus-top {
  background: #536976;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform ease-in 200ms;
  transition: -webkit-transform ease-in 200ms;
  transition: transform ease-in 200ms;
  transition: transform ease-in 200ms, -webkit-transform ease-in 200ms;
}

.bloc-focus-bottom {
  background: #292E49;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform ease-in 200ms;
  transition: -webkit-transform ease-in 200ms;
  transition: transform ease-in 200ms;
  transition: transform ease-in 200ms, -webkit-transform ease-in 200ms;
}

.bloc-content-show {
  position: absolute;
  top: 250px;
  width: 100%;
  height: 75px;
  z-index: 99;
  border-radius: 0 0 5px 5px;
  background-image: repeating-linear-gradient(90deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(0deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(0deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 10px), repeating-linear-gradient(90deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 10px), -webkit-gradient(linear, left top, right top, from(#141414), to(#141414));
  background-image: repeating-linear-gradient(90deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(0deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(0deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 10px), repeating-linear-gradient(90deg, rgba(107, 107, 107, 0.09) 0px, rgba(107, 107, 107, 0.09) 1px, transparent 1px, transparent 10px), linear-gradient(90deg, #141414, #141414);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform ease-in 200ms;
  transition: -webkit-transform ease-in 200ms;
  transition: transform ease-in 200ms;
  transition: transform ease-in 200ms, -webkit-transform ease-in 200ms;
}

.bloc-content-show p {
  margin: 5px 7px 0;
}

.bloc-content-show h2 {
  margin: 5px 5px 0;
  font-size: 1rem;
}

/* ============ TOUTES LES ANIMATIONS ============ */
.card:hover .card-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.card:hover .bloc-content-show {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.card:hover ~ .bloc-focus-top {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.card:hover ~ .bloc-focus-bottom {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.evenement-carte {
  border-radius: 25px;
  background-color: #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-box-shadow: -5px 5px 7px #252525;
          box-shadow: -5px 5px 7px #252525;
}

.evenement-carte__img {
  width: 230px;
  min-width: 230px;
  height: 250px;
  background-color: coral;
  margin-right: 20px;
  border-radius: 25px 0 0 25px;
}

.evenement-carte__content {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.evenement-carte__content--titre {
  margin: 20px 0 15px 15px;
}

.evenement-carte__content--txt {
  margin-right: 20px;
}

.vitrine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 30px;
}

.vitrine-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vitrine-card__img {
  width: 250px;
  height: 300px;
  background-color: coral;
}

.vitrine-card__txt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 7px;
}

.backgroundBlack {
  position: absolute;
  background-image: radial-gradient(circle at 11% 37%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 50%, transparent 50%, transparent 56%, transparent 56%, transparent 100%), radial-gradient(circle at 82% 7%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 46%, transparent 46%, transparent 88%, transparent 88%, transparent 100%), radial-gradient(circle at 81% 79%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 33%, transparent 33%, transparent 89%, transparent 89%, transparent 100%), radial-gradient(circle at 68% 96%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 8%, transparent 8%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 69% 20%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 84%, transparent 84%, transparent 86%, transparent 86%, transparent 100%), radial-gradient(circle at 49% 22%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 71%, transparent 71%, transparent 78%, transparent 78%, transparent 100%), radial-gradient(circle at 23% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 6%, transparent 6%, transparent 40%, transparent 40%, transparent 100%), radial-gradient(circle at 86% 33%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 13%, transparent 13%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 38% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 15%, transparent 15%, transparent 61%, transparent 61%, transparent 100%), -webkit-gradient(linear, left bottom, left top, from(#0f0f0f), to(#0f0f0f));
  background-image: radial-gradient(circle at 11% 37%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 50%, transparent 50%, transparent 56%, transparent 56%, transparent 100%), radial-gradient(circle at 82% 7%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 46%, transparent 46%, transparent 88%, transparent 88%, transparent 100%), radial-gradient(circle at 81% 79%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 33%, transparent 33%, transparent 89%, transparent 89%, transparent 100%), radial-gradient(circle at 68% 96%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 8%, transparent 8%, transparent 26%, transparent 26%, transparent 100%), radial-gradient(circle at 69% 20%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 84%, transparent 84%, transparent 86%, transparent 86%, transparent 100%), radial-gradient(circle at 49% 22%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 71%, transparent 71%, transparent 78%, transparent 78%, transparent 100%), radial-gradient(circle at 23% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 6%, transparent 6%, transparent 40%, transparent 40%, transparent 100%), radial-gradient(circle at 86% 33%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 13%, transparent 13%, transparent 98%, transparent 98%, transparent 100%), radial-gradient(circle at 38% 60%, rgba(71, 71, 71, 0.05) 0%, rgba(71, 71, 71, 0.05) 15%, transparent 15%, transparent 61%, transparent 61%, transparent 100%), linear-gradient(0deg, #0f0f0f, #0f0f0f);
  z-index: 0;
  width: 100%;
}

.textEvenement {
  text-align: center;
}

.date {
  font-size: 0.8rem;
  text-align: center;
}

.imageTutoEvent {
  width: 100%;
}

@media (min-width: 500px) {
  .imageTutoEvent {
    width: auto;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #262626;
}

.carousel-control-next, .carousel-control-prev {
  width: 35px;
}

.card {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.55);
          box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.55);
}

.card__flexAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-img-top {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */