/* MENU BURGER -> checkbox */
nav {
    transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
    width: 100%;
    position: absolute;
    top: 0;
    @media (min-width: 888px) {
        transform: scale(1,1);
        position: relative;
    }
    a {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        @media (min-width: 888px) {
            opacity: 1;
        }
    }
}

.bandeauBurger {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #000;
    @media (min-width: 888px) {
        display: none;
    }
}

.nav-checkbox {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    &-label {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        span, span::before, span::after {
            display: block;
            background: white;
            height: 2px;
            width: 2em;
            border-radius:2px;
            position: relative;
            transform: translateY(0) rotate(0) scale(1);
            transition: transform ease-in-out 300ms;
        }
        span::before {
            content: "";
            position: absolute;
            bottom: 7px;
            transform: translateY(0) rotate(0) ;
            transition: transform ease-in-out 300ms;
        }
        span::after {
            content: "";
            position: absolute;
            top: 7px;
            transform: translateY(0) rotate(0);
            transition: transform ease-in-out 300ms;
        }
        @media (min-width: 888px) {
            display: none;
        }
    }
    &:checked ~ nav {
        transform: scale(1, 1);
        position: relative;
    }
    &:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
    &:checked ~ label span::before {
        transform: translateY(7px) rotate(45deg);
        transition: transform ease-in-out 250ms;
    }
    &:checked ~ label span::after {
        transform: translateY(-7px) rotate(-45deg);
        transition: transform ease-in-out 250ms;
    }
    &:checked ~ label span {
        background: black;
    }
}

/*Fin menu Burger*/

.menus {
    ul {
        display: flex;
        width: 100%;
        height: 60px;
        padding-left: 160px;
        justify-content: space-around;
        align-items: center;
        background-color: #000;
        li {
            a:hover {
                color: $color-lienHover;
            }
            a::after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                margin-top: 5px;
                transform: scale(0);
                transition: transform 200ms ease-in-out;
                background-color:  $color-lienHover;
            }
            a:hover::after {
                transform: scale(1);
            }
        }
    }
    @media (max-width: 888px) {
        ul  {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            height: auto;
        }
        li {
            display: flex;
            margin: 5px 0 5px;
        }
    }
}

.logo {
    width: 100%;
    object-fit: cover;
    @media (min-width: 500px) {
    position: absolute;
    top: 0px;
    left: 0;
    width: auto;
    height: 120px;
    z-index: 999;
    }
}

.backgroundBlackCanvas {
	display:none;
    @media (min-width: 1200px) {
        display: block;
		position: absolute;
		background-image: radial-gradient(circle at 11% 37%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 50%,transparent 50%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 82% 7%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 46%,transparent 46%, transparent 88%,transparent 88%, transparent 100%),radial-gradient(circle at 81% 79%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 33%,transparent 33%, transparent 89%,transparent 89%, transparent 100%),radial-gradient(circle at 68% 96%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 8%,transparent 8%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 69% 20%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 84%,transparent 84%, transparent 86%,transparent 86%, transparent 100%),radial-gradient(circle at 49% 22%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 71%,transparent 71%, transparent 78%,transparent 78%, transparent 100%),radial-gradient(circle at 23% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 6%,transparent 6%, transparent 40%,transparent 40%, transparent 100%),radial-gradient(circle at 86% 33%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 13%,transparent 13%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 38% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 15%,transparent 15%, transparent 61%,transparent 61%, transparent 100%),linear-gradient(0deg, hsl(167,0%,6%),hsl(167,0%,6%));
		z-index: 0;
		width: 100%;
		height: 250px;
    }
}

.canvas-header {
    display:none;
    @media (min-width: 1200px) {
        display: block;
        position: relative;
        left: calc(50% - 600px);
    }
}

.marges-lateral {
    margin: 0 $marges-lateral-small-screen 0 $marges-lateral-small-screen;
    @media (min-width: 768px) {
        margin: 0 $marges-lateral 0 $marges-lateral;
    }
}
