.presentation {
    &__content {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        & p {
            margin: 25px 0;
        }
        &--ul {
            margin-bottom: 15px;
            list-style-type: disc;
        }
        &--li {
            margin: 15px 0 15px 25px;
        }
        &--text {
            width: 100%;
            @media (min-width: 768px) {
                width: 65%;
            }
        }
        &--img {
            background-color: coral;
            width: 100%;
            margin-bottom: 25px;
            @media (min-width: 768px) {
                width: 30%;
                height: 250px;
            }
        }
    }
}

.section {
    margin: 50px 0 25px 0;
}
